
.aboutHeading {
    padding: 10% 15%;
    color: white;
    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 35px;
        margin-top: 5%;
        color: rgb(220, 151, 77);
    }
    h2 {
        margin-top: 5%;
        color: rgb(220, 151, 77);
    }
    hr {
        color: white;
    }
    p{
        font-size: 18px;
    }
}
.course {
    font-weight: bold;
    span {
        font-weight: 200;
        color: rgb(178, 178, 178);
    }
}
.aboutInfo {
    display: flex;
}
.aboutImg {
    width: 350px;
    margin: 40% 200px 0 0;
    opacity: 0.8;
    border-radius: 20px;
    box-shadow: 3px 10px 37px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 10px 37px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 10px 37px 0px rgba(0, 0, 0, 0.75);
}
.aboutInfoImg {
    h1 {
        color: white;
        margin-top: 20px;
    }
    p {
        color: white;
        font-size: 20px;
        line-height: 12px;
        color: rgb(178, 178, 178);
    }
    hr {
        color: white;
        width: 65%;
        margin-top: -5px;
    }
}

@media screen and (max-width: 500px) {
    .aboutHeading{
        padding-top: 30%;
    }
    .aboutInfo{
        display: block;
    }
    .aboutImg{
        width: 260px;
        margin: auto;
    }
    .aboutMain{
        padding-bottom: 30%;
    }
    .aboutInfoImg{
        margin: 0 0 0 16%;
    }
}
