.content {
    background-image: url(https://dsathemes.com/html/xlander/pattern/img/thumbs/pattern.png);
    background-color: rgb(74, 21, 21);
}
.header_general {
    padding: 15rem 5rem 0 10rem;
    height: 100vh;
}
#h1 {
    font-size: 80px;
    color: rgb(237, 236, 236);
}
#h2 {
    color: rgb(220, 151, 77);
    font-size: 50px;
}
.content_img {
    float: right;
    opacity: 0.7;
    height: 60vh;
    width: 70vh;
}
.btnContainer {
    margin: 6vh;
}
.headingBtn {
    background-color: transparent;
    border: none;
    font-weight: bold;
    border: solid 2px;
    color: rgb(220, 151, 77);
    padding: 20px 50px 20px 50px;
    border-radius: 5px;
}
.headingBtn:hover {
    transition: ease-in 0.4s;
    transform: scale(1.1);
    color: rgb(237, 236, 236);
    background-color: rgb(220, 151, 77);
    cursor: pointer;
}
.aboutMeSection {
    background-color: rgb(85, 31, 31);
}
.aboutMeContainer {
    padding: 8rem;
    margin: auto;
    width: 80%;
}
.aboutMeHeading {
    color: rgb(237, 236, 236);
    font-size: 40px;
}
.aboutMeParagraph {
    margin-top: 3rem;
    width: 50%;
    font-size: 20px;
    color: rgb(178, 178, 178);
}
.servicesSection {
    background-color: rgb(74, 21, 21);
}
.servicesContainer {
    padding: 8rem;
    margin: auto;
    width: 80%;
}
.myServicesHeading {
    color: rgb(237, 236, 236);
    font-size: 40px;
}
.services {
    display: flex;
    justify-content: center;
}
.service {
    margin: 2rem;
    border: solid 1px rgb(220, 151, 77);
    padding: 10px 20px;
    text-align: center;
}
.icons {
    color: rgb(237, 236, 236);
    font-size: 4rem;
}
.serviceTitle {
    font-size: 25px;
    color: rgb(220, 151, 77);
}
.serviceParagraph {
    margin-top: 15px;
    color: rgb(178, 178, 178);
    font-size: 18px;
}
.letsTalkSection {
    background-color: rgb(85, 31, 31);
}
.letsTalkContainer {
    padding: 8rem;
    margin: auto;
    width: 80%;
}
.letsTalkHeading {
    color: rgb(237, 236, 236);
    font-size: 40px;
    font-weight: bold;
    a {
        color: rgb(220, 151, 77);
        text-decoration: none;
    }
}
.letsTalkHeading a:hover {
    transition: ease-in 0.3s;
    cursor: pointer;
    color: rgb(220, 151, 77);
    padding: 5px;
}
.letsTalkParagraph {
    width: 80%;
    color: rgb(178, 178, 178);
    font-size: 20px;
    margin-top: 25px;
}
.letsTalk_column p span {
    color: #fdfdfd;
}
.letsTalk_columns {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 2%;
}
.letsTalk_columns i {
    color: rgb(237, 236, 236);
    font-size: 60px;
}
.letsTalk_columns h3 {
    color: rgb(220, 151, 77);
    font-size: 25px;
    font-weight: 800;
}
.letsTalk_columns p {
    color: rgb(237, 236, 236);
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}
.letsTalk_column a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(237, 236, 236);
    cursor: pointer;
}
.letsTalk_column a:hover {
    color: rgb(178, 178, 178);
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    .content_img {
        display: none;
    }
    .header_general {
        padding: 15rem 2rem 0 2rem;
        height: 100vh;
    }
    .aboutMeContainer {
        padding: 5rem 0 5rem 0;
    }
    .aboutMeParagraph {
        margin-top: 3rem;
        width: 100%;
        font-size: 20px;
        color: rgb(178, 178, 178);
    }
    .servicesContainer {
        padding: 5rem 0 5rem 0;
        margin: auto;
        width: 80%;
    }
    .services {
        display: grid;
        justify-content: center;
    }
    .letsTalkContainer {
        padding: 5rem 0 5rem 0;
        margin: auto;
        width: 80%;
    }
    .letsTalk_columns {
        display: block;
        margin: 10% 0 0 10%;
    }
    .letsTalkParagraph {
        width: 100%;
        color: rgb(178, 178, 178);
        font-size: 20px;
        margin-top: 25px;
    }
}
