.mainPage {
    text-align: center;
    color: white;
    background-color: rgba(230, 230, 230, 0.149);
    padding-top: 14%;
    padding-bottom: 10%;
    
}
.mainHeading {
    margin: 2% 0 0 12%;
    text-align: left;
    display: flex;
    .headingText {
        h1 {
            font-size: 60px;
        }
        p {
            font-size: 20px;
            margin-top: 6%;
        }
    }

    img {
        margin: -2% 0 0 5%;
        width: 700px;
    }
}

.readMoreBtn {
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    transition: 0.5s;
    float: left;
    margin: 5% 0 0 5%;
    box-shadow: 3px 10px 37px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 10px 37px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 10px 37px 0px rgba(0, 0, 0, 0.75);
}
.readMoreBtn:hover {
    background-color: rgba(255, 255, 0, 0.481);
}
.projectHeading {
    margin-top: 4%;
    .projectText {
        float: right;
        margin: 5% 15% 0 0;
        h1 {
            font-size: 50px;
            text-align: right;
        }
    }
    img {
        width: 700px;
        margin: -2% 0;
    }
}

.projectsBtn {
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    transition: 0.5s;
    margin: 2% 10% 0 0;
    float: right;
    box-shadow: 3px 10px 37px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 10px 37px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 10px 37px 0px rgba(0, 0, 0, 0.75);
}
.projectsBtn:hover {
    background-color: rgba(255, 255, 0, 0.481);
}

@media screen and (max-width: 500px) {
    .mainHeading {
        margin-top: 15%;
        display: block;
        img {
            margin: 2rem 0% 0 -2rem;
            width: 310px;
        }
    }
    .projectsBtn{
        float: left;
        margin: 8% 0 0 10%;
    }
    .projectHeading {
        margin: 2% 0 0 7%;
        display: block;
        padding-bottom: 50%;
        .projectText {
            h1 {
                margin: 1rem;
               text-align: left;
            }
        }
        img {
            margin: 2rem 0% 0 -2rem;
            width: 330px;
        }
    }
}
