
.navigation {
    position: fixed;
    width: 100%;
    display: inline-block;
    top: 0;
    z-index: 1000;
    transition: all 0.5s;
    padding: 10px 0px;
}
.navigation.scrolled {
    background-color: rgba(79, 30, 30, 0.799);
    padding: 1px;
}
.logo {
    width: 45px;
    transition: 1s;
    margin: 8px 0 0 20rem;
}
.navigation a {
    text-decoration: none;
    color: rgb(220, 151, 77);
    display: inline-block;
    margin-right: 70px;
}
.links {
    margin-right: calc((100% - 80%) / 2);
    float: right;
    padding: 21px 0 15px 0;
    font-weight: 700;
    font-size: 15px;
}
.navigation a:hover {
    color: rgb(237, 236, 236);
    cursor: pointer;
    transition: ease-in 0.3s;
    transform: scale(1.1);
}

@media screen and (max-width: 500px) {
    .navigation a {
        margin-right: 40px;
    }
    .navigation.scrolled {
        .logo{
            display: none;
        }
    }
    .logo {
        margin-left: 13rem;
    }
}
